/* body {
    font-size: 25px;
    font-family: monospace;
}

span.cell.empty {
    background-color: white;
}
span.cell.full {
    background-color: beige;
} */

kbd {
    border-radius: 2px;
    padding: 2px;
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: grey;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('./assets/USNavy-PacificOcean-rtr-img.jpg');
    background-size: cover;
}

#nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    background-color: blanchedalmond;
    border-bottom: 4px black solid;
}

#nav li {
    list-style: none;
    display: inline;
    width: 15vw;
    font-size: x-large;
    padding-right: 5vw;
}

/* #nav li:not(:first-child):before */
#nav li:before {
    content: " | ";
}

#nav li.disabled {
    text-decoration: line-through;
    color: rgb(59, 58, 58);

    pointer-events: none;
}

#settings-panel {
    width: 30vw;
    margin-left: 35vw;
    height: 75vh;
    margin-top: 5vh;
    background-color: blanchedalmond;
    border-bottom: 4px;
    border-left: 4px;
    border-right: 4px;
    border-style: solid;
    border-color: black;
    
    text-align: center;
}

#settings-panel div {
    display: flex;
    flex-direction: row;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

#settings-panel label {
    align-self: flex-start;
}

#settings-panel input {
    align-self: flex-end;
    margin-left: auto;
}


:root {
    --columns: repeat(10, 1fr);
    --rows: repeat(10, 1fr);
}

div#game-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#game {
    display: grid;
    background-color: blanchedalmond;
    padding: 10%;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    border-radius: 10px;
    border: 4px solid black;
}

div#game div.layer {
    display: grid;
    grid-template-rows: var(--rows);
    grid-template-columns: var(--columns);
    gap: 1px;
    transition: 0.5s;
    grid-column: 1;
    grid-row: 1;
}

div#game div.layer div.cell {
    outline: 1px solid black;
    width: 75px;
    height: 75px;
}

div#game div.layer div.cell.label {
    background-color: rgb(28, 231, 231);
}
div#game div.layer div.cell.label span.coord {
    color: black;
    font-size: x-large;
}

div#game div.layer div.cell.ship {
    background-color: rgb(255, 166, 0);
}

div#game div.layer div.cell.empty {
    background-color: rgba(255, 255, 255, 0);
}

div#game div.layer div.cell.shot {
    background-color: rgba(146, 144, 144, 0.329);
}

div#game div.layer div.cell.shipshot {
    background-color: rgb(170, 134, 80)
}

.no-events {
    pointer-events: none;
}